<div class="user-login">
  <!-- Create Form -->
  <form class="jumbotron"
  *ngIf="active"
  (ngSubmit)="onSubmit()"
  #loginForm="ngForm"
  >
    <fieldset>
      <legend>{{title}}</legend>

      <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <input id="email" class="form-control" type="email" placeholder="Email" required
        ngControl="email" #email="ngForm">
      </div>

      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input id="password" class="form-control" type="password" placeholder="Password" required
        ngControl="password" #password="ngForm">
      </div>

      <button type="submit" class="btn btn-primary btn-block"
        [disabled]="!loginForm.form.valid">
        Log in
      </button>
    </fieldset>
  </form>
  <!-- End of Form -->
</div>
